body {
  background-color: rgb(253 , 251 , 251);
  font-size: 20px;
  line-height: 1.5em;
  font-family: Open Sans, sans-serif;
  margin-bottom: 0;
}

#cabecalho {
  top: 0;
  position: fixed;
  width: 99%;
  background-color: rgb(72 , 199 , 211);
}

#titulo {
  text-align: center;
  color: white;
}

.banner-topo {
  width: 100%;
}

#minha_foto {
  display: inline-block;
  margin-top: 100px;
  width: 300px;
}

#meu_banner {
  display: inline-block;
  height: 300px;
  width: 77%;
}

.navigation {
  background-color: rgb(72 , 199 , 211);
  color: white;
  width: 100%;
  height: 50px;
}

.navigation li {
  display: inline-block;
  height: 50px;
  width: 20%;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  border-right: 1px solid white;
  border-radius: 10px;
  font-weight: 1px;
}

.navigation li:first-child {
  border-left: 1px solid white;
}

.lista-de-conhecimentos table {
  margin: 50px 0 50px 80px;
}

.lista-de-conhecimentos th , tr {
  padding: 0 1.2em;
}

.lado-esquerdo , .lado-direito {
  display: inline-block;
  width: 45%;
  text-align: justify;
  margin-left: 40px;
  padding-bottom: 60px;
  text-indent: 2em;
}

#tabela-tecnologica {
  margin: 0 auto;
  border: 2px solid black;
}

#tabela-tecnologica th , td {
  text-align: center;
  border: 1px solid black;
  height: 40px;
}

#tabela-tecnologica td {
  width: 100px;
}

footer {
  margin-top: 50px;
  height: 150px;
  background-color: aquamarine;
}

footer p {
  text-align: center;
  padding-top: 55px;
  color: black;
  font-style: italic;

}
