/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

body {
  background-color: rgb(253 , 251 , 251);
  font-size: 20px;
  line-height: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

#cabecalho {
  top: 0px;
  position: fixed;
  width: 99%;
  background-color: rgb(72, 199, 211);
}

#titulo {
  text-align: center;
  color: white; 
}

#minha_foto {
  display: inline-block;
  margin-top: 100px;
}

#meu_banner {
  display: inline-block;
  height: 300px;
  width: 935px;
}

.navigation {
  background-color: rgb(72, 199, 211); 
  color: white;
  width: 100%;
  height: 50px;
}

.navigation li{
  display: inline-block;
  height: 50px;
  width: 20%;
  text-decoration: none;
  text-align: center; 
  padding-top: 10px;
  border-right: 1px solid white;
  border-radius: 10px;
  font-weight: bold;
}

.navigation li:first-child {
  border-left: 1px solid white;
}

#minha_foto {
  width: 300px;
}

#minha-trajetoria article, aside {
  display: inline-block;
  width: 45%;
  text-align: justify;
  margin-left: 40px;
  padding-bottom: 60px;
}

#minha-trajetoria aside {
  
}

article, aside p {
  text-indent: 2em;
}

#tabela-tecnologica {
  margin: 0 auto;
  border: 2px solid black;
}

#tabela-tecnologica th, td {
  text-align: center;
  border: 1px solid black;
  height: 40px; 
}

#tabela-tecnologica td{
  width: 100px; 
}

footer {
  margin-top: 50px;
  height: 150px;
  background-color: aquamarine;
}

footer p {
  text-align: center;
  padding-top: 75px; 
}

